<a href="https://colab.research.google.com/github/hasanmdmahmudul/PythonPractice/blob/main/2025_04_24_ICT_102_Week_1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Week-1

In [ ]:
x = "Hello World "
n = 5
y=7
print(x + str(y))
print(x * n)
print(n//y)
print(x[1:3])
print("o" in x)

Hello World 7
Hello World Hello World Hello World Hello World Hello World
0
el
True

In [2]:
 #This is a Python program that adds two numbers  together
 # Define two variables, a and b, and assign them values
 a = 5
 b = 7
 # Add the two variables together and store the result in a new variable, c
 c = a + b
 # Print the value of c to the console
 print(c)

12

In [3]:
# Hello World program
print("Hello, world!")

Hello, world!

In [4]:
print("My name is " + " Nabin" + " and I am " +"25"+" years old.")

My name is  Nabin and I am 25 years old.

In [6]:
name = "John"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 25 years old.

In [10]:
# Syntax error in string

name = "Alice"
age = 25
print("My name is" name "and I am"  age "years old.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-10-e08f2d7b7d10>, line 5)

In [8]:
 # Syntax error in string
print(Hello, World!)

SyntaxError: invalid syntax (<ipython-input-8-dcc794b5b849>, line 2)

In [12]:
#Taking Input in Python vvi
# Read the user's name
name = input("What is your name? ")
 # Read the user's age
age = input("What is your age? ")
 # Print a message using the user's name and age
print("Hello, " + name + "! You are " + age + " years old.")

What is your name? Hasan
What is your age? 29
Hello, Hasan! You are 29 years old.

In [15]:
#Week-2
#Calculate the area of a circle
import math
def calculate_circle_area(radius):
 return math.pi * radius ** 2


radius = float(input("Enter the radius of the circle: "))
area = calculate_circle_area(radius)
print(f"The area of the circle is: {area}")

Enter the radius of the circle: 4
The area of the circle is: 50.26548245743669

In [18]:
# Variable declaration
name = "Alice"  # 'name' is a string variable
age = 25        # 'age' is an integer variable

# Function definition
def greet():  # 'greet' is a function
    print("Hello, " + name)  # 'print' is a function, '+' is a concatenation operator

# Function call
greet()  # Calls the greet function

# Conditional check using keyword 'if'
if age > 18:  # 'if' is a keyword, '>' is a comparison operator
    print(name + " is an adult.")

Hello, Alice
Alice is an adult.

In [28]:
#Test Variable and Operator Knowledge
print(6 + 4 / 2 - (1 * 2))

6.0

In [21]:
Name=“Elon Musk”
Age=“32”
Print(Name+Age

SyntaxError: invalid character '“' (U+201C) (<ipython-input-21-2823b7c79eac>, line 1)

In [26]:
Name="Elon Musk"
Age="32"
print(Name+Age)

Elon Musk32

In [30]:
# Integer
x = 5
y = 3
print(x + y)  # Output: 8
print(x - y)  # Output: 2
print(x * y)  # Output: 15
print(x / y)  # Output: 1.6666666666666667
print(x % y)  # Output: 2
print(x // y) # Output: 1
print(x ** y) # Output: 125

8
2
15
1.6666666666666667
2
1
125

In [31]:
# Float
x = 3.14
y = 2.0
print(x + y)  # Output: 5.14
print(x - y)  # Output: 1.14
print(x * y)  # Output: 6.28
print(x / y)  # Output: 1.57
print(x % y)  # Output: 1.14
print(x // y) # Output: 1.0
print(x ** y) # Output: 9.8596

5.140000000000001
1.1400000000000001
6.28
1.57
1.1400000000000001
1.0
9.8596

In [32]:
#The use of f-string to make printing easy
# Define variables
name = "Alice"
age = 25
# Create an f-string
greeting = f"Hello, my name is {name} and I am {age} years old."
# Print the f-string
print(greeting)

Hello, my name is Alice and I am 25 years old.

In [33]:
# Program to add the digits in a 2-digit number

# Get input from the user
num = input("Enter a 2-digit number: ")

# Ensure the input is a 2-digit number
if len(num) == 2 and num.isdigit():
    digit1 = int(num[0])
    digit2 = int(num[1])
    total = digit1 + digit2
    print(f"{digit1} + {digit2} = {total}")
else:
    print("Please enter a valid 2-digit number.")

Enter a 2-digit number: 23
2 + 3 = 5

In [34]:
#Exercise-2 BMI Calculator
# Program to calculate Body Mass Index (BMI)

# Get user input for weight and height
weight = float(input("Enter your weight in kilograms (kg): "))
height = float(input("Enter your height in metres (m): "))

# Calculate BMI
bmi = weight / (height ** 2)

# Display the result, rounded to 2 decimal places
print(f"Your BMI is {bmi:.2f}")

Enter your weight in kilograms (kg): 62
Enter your height in metres (m): 1.6
Your BMI is 24.22

In [36]:
#Week-3
import random
coin=random.randrange(0,2)
print("The coin flipping result is:")
if coin==0:
  print("Head")
else:
  print("Tail")

The coin flipping result is:
Tail

In [38]:
score = float(input("Enter your IELTS score: "))
if score >= 6.5:
  print("You are Eligible for Admission")
else:
  print("You are Not Eligible for Admission")

Enter your IELTS score: 6.5
You are Eligible for Admission

In [40]:
age = 21
if age < 18:
  print("You are not an adult.")
elif age >= 18 and age < 21:
  print("You are an adult, but not yet able to  drink.")
else:
  print("You are an adult and can legally drink.")

You are an adult and can legally drink.

In [41]:
age = 21
if age >= 18:
  print("You are an adult.")
if age >= 21:
  print("You are legally allowed to drink.")

You are an adult.
You are legally allowed to drink.

In [43]:
print("Welcome to The Haunted House!")
height = int(input("What is your height in cm? "))
bill = 0

if height >= 130:
    print("You can enter The Haunted House!")
    age = int(input("What is your age? "))

    if age < 14:
        bill = 5
        print("Child tickets are $5.")
    elif age <= 21:
        bill = 7
        print("Youth tickets are $7.")
    else:
        bill = 10
        print("Adult tickets are $10.")

    wants_photo = input("Do you want a photo taken? Y or N. ")
    if wants_photo.upper() == "Y":
        bill += 3

    print(f"Your final bill is ${bill}")
else:
    print("Sorry, you have to be at least 130 cm tall to enter The Haunted House.")

Welcome to The Haunted House!
What is your height in cm? 165
You can enter The Haunted House!
What is your age? 29
Adult tickets are $10.
Do you want a photo taken? Y or N. Y
Your final bill is $13

In [44]:
x = 10
y = 5
z = 15

if x > y and y < z:
    print("Both conditions are true")
elif x < y and y < z:
    print("Neither condition is true")
else:
    print("One condition is true")

Both conditions are true

In [45]:
#Grading uisng if-else vvi
percentage = float(input("Enter your percentage score: "))

if percentage >= 90:
    grade = "A"
elif percentage >= 80:
    grade = "B"
elif percentage >= 70:
    grade = "C"
elif percentage >= 60:
    grade = "D"
else:
    grade = "F"

print("Your grade is:", grade)

Enter your percentage score: 70
Your grade is: C

In [47]:
#Working with list
# Create a list
fruits = ["apple", "banana", "cherry"]
# Print the list
print(fruits)  # Output: ['apple', 'banana', 'cherry']
# Accessing items in a list using indexing
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[-1]) # Output: cherry
# Changing an item in a list
fruits[1] = "kiwi"
print(fruits)  # Output: ['apple', 'kiwi', 'cherry’]
# Adding an item to the end of a list
fruits.append("orange")
print(fruits)  # Output: ['apple', 'kiwi', 'cherry', 'orange']

# Inserting an item at a specific position
fruits.insert(1, "grape")
print(fruits)  # Output: ['apple', 'grape', 'kiwi', 'cherry', 'orange']
# Removing an item from a list
fruits.remove("kiwi")
print(fruits)  # Output: ['apple', 'grape', 'cherry', 'orange']
# Removing the last item from a list
fruits.pop()
print(fruits)  # Output: ['apple', 'grape', 'cherry']
# Finding the length of a list
print(len(fruits))  # Output: 3

['apple', 'banana', 'cherry']
apple
banana
cherry
['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'cherry', 'orange']
['apple', 'grape', 'cherry']
3

In [48]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

print(fruits[0])
print(fruits[1])
print(fruits[-1])

fruits[1] = "kiwi"
print(fruits)

fruits.append("orange")
print(fruits)

fruits.insert(1, "grape")
print(fruits)

fruits.remove("kiwi")
print(fruits)

fruits.pop()
print(fruits)

print(len(fruits))

['apple', 'banana', 'cherry']
apple
banana
cherry
['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'cherry', 'orange']
['apple', 'grape', 'cherry']
3

In [49]:
#Loop vvi
#Print numbers from 1 to 5
# Iterate over a range of  numbers from 1 to 5
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [50]:
#Prints odd numbers from 1 to 10
# Iterate over a range of  numbers with a step size of 2
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [52]:
# use a for loop to  iterate over a list of Australian states and print  each state.
# Iterate over a list of Australian states
states = ["New South Wales", "Queensland", "South Australia", "Tasmania", "Victoria", "Western Australia"]
for state in states:
  print(state)

New South Wales
Queensland
South Australia
Tasmania
Victoria
Western Australia

In [ ]:
#Write a program using for loop to add 1 to n series sum=1+2+3. . . . . . +n

In [53]:
# Program to add numbers 1 to n using a for loop
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
  sum += i
print("The sum of numbers 1 to", n, "is:", sum)

Enter a number: 5
The sum of numbers 1 to 5 is: 15

In [54]:
# Exercise -1
#  Write a program using for loop to add the square of  1 to n series
#  sum=12+22+32. . . . . . +n2
# Exercise - 1
# Program to add the square of numbers from 1 to n

n = int(input("Enter the value of n: "))
total = 0

for i in range(1, n + 1):
    total += i ** 2

print("The sum of squares from 1 to", n, "is:", total)

Enter the value of n: 5
The sum of squares from 1 to 5 is: 55

In [ ]:
# Exercise -2
#  Write a program using for loop to add the even numbers from 1 to n series
#  sum=2+4+6+…….n
#  The user should enter an even integer, If the input “n” is odd, warn the user the input
# is odd.
# Hint: when input%2==0 the number is even

In [55]:
# Exercise - 2
# Program to add even numbers from 1 to n

n = int(input("Enter an even integer: "))

# Check if the input is even
if n % 2 != 0:
    print("The input is odd. Please enter an even number.")
else:
    total = 0
    # Add even numbers from 2 to n
    for i in range(2, n + 1, 2):
        total += i

    print(f"The sum of even numbers from 2 to {n} is: {total}")

Enter an even integer: 5
The input is odd. Please enter an even number.

In [57]:
# Program to calculate the average student height

student_heights = [180, 124, 165, 173, 189, 169, 146]

# Initialize variables for the total height and the count of heights
total_height = 0
height_count = 0

# Loop through the list to calculate total height and count the number of students
for height in student_heights:
    total_height += height
    height_count += 1

# Calculate the average height
average_height = total_height / height_count

# Round to the nearest whole number
average_height_rounded = round(average_height)

print(average_height_rounded)

164

In [56]:
#Interactive practice with teacher
# Program to calculate the highest score without using max() function

student_scores = [78, 65, 89, 86, 55, 91, 64, 89]

# Initialize a variable to store the highest score
highest_score = student_scores[0]

# Loop through the list to find the highest score
for score in student_scores:
    if score > highest_score:
        highest_score = score

print(f"The highest score in the class is: {highest_score}")

The highest score in the class is: 91

In [58]:
#Nested for Loop
# Program to print a multiplication table using nested loops
n = int(input("Enter a number: "))

# Outer loop for rows
for i in range(1, n+1):
    # Inner loop for columns
    for j in range(1, n+1):
        # Multiply row by column and print result
        print(i * j, end="\t")
    # Move to the next line after each row
    print()

Enter a number: 5
1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [ ]:
#Week-4

In [59]:
#Array
# Array
# Importing "array" for array creation
import array as arr

# Creating an array with integer type
a = arr.array('i', [1, 2, 3])

# Printing the original array
print("The new created array is:", end=" ")
for i in range(0, len(a)):
    print(a[i], end=" ")
print()

# Creating an array with double type
b = arr.array('d', [2.5, 3.2, 3.3])

# Printing the original array
print("\nThe new created array is:", end=" ")
for i in range(0, len(b)):
    print(b[i], end=" ")
print()

The new created array is: 1 2 3

The new created array is: 2.5 3.2 3.3

In [61]:
 my_list = [10, 20, 30, 40, 50]
 import array
 my_array = array.array('i', [10, 20, 30, 40, 50])

In [62]:
#write a program that calculates the highest score from a List of scores (VVI)

# List of student scores
student_scores = [78, 65, 89, 86, 55, 91, 64, 89]

# Initialize a variable to store the highest score
highest_score = student_scores[0]

# Iterate through the list of scores to find the highest
for score in student_scores:
    if score > highest_score:
        highest_score = score

# Print the result
print(f"The highest score in the class is: {highest_score}")

The highest score in the class is: 91

In [63]:
#Working with list
# Create a list
fruits = ["apple", "banana", "cherry"]
# Print the list
print(fruits)  # Output: ['apple', 'banana', 'cherry']
# Accessing items in a list using indexing
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[-1]) # Output: cherry
# Changing an item in a list
fruits[1] = "kiwi"
print(fruits)  # Output: ['apple', 'kiwi', 'cherry’]
# Adding an item to the end of a list
fruits.append("orange")
print(fruits)  # Output: ['apple', 'kiwi', 'cherry', 'orange']

# Inserting an item at a specific position
fruits.insert(1, "grape")
print(fruits)  # Output: ['apple', 'grape', 'kiwi', 'cherry', 'orange']
# Removing an item from a list
fruits.remove("kiwi")
print(fruits)  # Output: ['apple', 'grape', 'cherry', 'orange']
# Removing the last item from a list
fruits.pop()
print(fruits)  # Output: ['apple', 'grape', 'cherry']
# Finding the length of a list
print(len(fruits))  # Output: 3

['apple', 'banana', 'cherry']
apple
banana
cherry
['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'cherry', 'orange']
['apple', 'grape', 'cherry']
3

In [64]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[-1])
fruits[1] = "kiwi"
print(fruits)
fruits.append("orange")
print(fruits)
fruits.insert(1, "grape")
print(fruits)
fruits.remove("kiwi")
print(fruits)
fruits.pop()
print(fruits)
print(len(fruits))

['apple', 'banana', 'cherry']
apple
banana
cherry
['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'kiwi', 'cherry', 'orange']
['apple', 'grape', 'cherry', 'orange']
['apple', 'grape', 'cherry']
3

In [65]:
#Array/List Example: Password Generator Project
#  A password generator program using lists to generate a strong password. The user will
# enter how many characters, numbers and symbols want to use, and then the program
# will automatically generate a random password.
# NOT IMPORTANT FOR XAM

import random

print("Welcome to the PyPassword Generator!")
nr_letters = int(input("How many letters would you like in your password?\n"))
nr_symbols = int(input(f"How many symbols would you like?\n"))
nr_numbers = int(input(f"How many numbers would you like?\n"))

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w',
           'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U',
           'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

password_list = []  # will contain the generated password

for char in range(1, nr_letters + 1):
    password_list.append(random.choice(letters))
for char in range(1, nr_symbols + 1):
    password_list += random.choice(symbols)
for char in range(1, nr_numbers + 1):
    password_list += random.choice(numbers)

random.shuffle(password_list)

password = ""
for char in password_list:
    password += char

print(f"Your password is: {password}")

Welcome to the PyPassword Generator!
How many letters would you like in your password?
4
How many symbols would you like?
1
How many numbers would you like?
1
Your password is: kzd$j2

In [66]:
#2-dimensional list
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  # Example matrix 1
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]  # Example matrix 2

result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]  # Initialize a 3x3 matrix to store the result

# Add the matrices element-wise
for i in range(len(matrix1)):
    for j in range(len(matrix1[i])):
        result[i][j] = matrix1[i][j] + matrix2[i][j]

# Print the resulting matrix
for row in result:
    print(row)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [68]:
#VVI
word = input("Enter a word: ")

# Loop through each character in the word
for char in word:
    print(char)

Enter a word: Hasan
H
a
s
a
n

In [69]:
print(len(word))

5