<a href="https://colab.research.google.com/github/hasanmdmahmudul/PythonPractice/blob/main/2025_06_03_SydneyMet_ICT102_MMH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

User Defined Function

In [1]:
# Define the function to add two numbers
def add_numbers(x, y):
    sum_result = x + y
    return sum_result

# Example
num1 = 5
num2 = 10
result = add_numbers(num1, num2)

# Print the result
print(f"The sum of {num1} and {num2} is: {result}")

The sum of 5 and 10 is: 15

Take the two inputs from keyboard:

In [4]:
# Function to add two integers
def add_numbers(x: int, y: int) -> int:
    return x + y

# Taking input from the keyboard and converting to int
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

# Calling the function and displaying the result
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {result}")

Enter the first integer: 1
Enter the second integer: 2
The sum of 1 and 2 is: 3

In [5]:
# Function to add two numbers
def add_numbers(x, y):
    return x + y

# Taking input from the keyboard
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calling the function and displaying the result
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {result}")

Enter the first number: 1
Enter the second number: 2
The sum of 1.0 and 2.0 is: 3.0

Function signature

In [6]:
# Function with type hints
def add_numbers(x: int, y: int) -> int:
    return x + y

# Taking input from the keyboard and converting to int
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

# Calling the function and displaying the result
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {result}")

Enter the first integer: 1
Enter the second integer: 2
The sum of 1 and 2 is: 3

Scope: visibility of variables in a program

In [8]:
# Global variable
x = 10

# Function definition
def my_function():
    # Local variable
    y = 5
    print("Local variable y:", y)
    print("Global variable x:", x)

# Function call
my_function()

# Access global variable outside of function
print("Global variable x:", x)

Local variable y: 5
Global variable x: 10
Global variable x: 10

In [9]:
# Global variable
x = 10

# Function definition
def my_function():
    # Local variable
    y = 5
    print("Local variable y:", y)
    print("Global variable x:", x)

# Function call
my_function()

# Access global variable outside of function
print("Local variable y:", y)

Local variable y: 5
Global variable x: 10

NameError: name 'y' is not defined

We get a NameError because y is only visible within the function where it was defined

In [11]:
#Recursion

In [12]:
def factorial(n):
    # Base case: factorial of 0 is 1
    if n == 0:
        return 1
    # Recursive case: factorial of n is n times the factorial of n-1
    else:
        return n * factorial(n-1)

# Calculate the factorial of 5
result = factorial(5)
print(result)  # Output: 120

120

In [13]:
# Function to calculate the factorial of a number
def factorial(n):
    """Calculate the factorial of a given number using recursion."""

    print(f"Calculating factorial({n})")  # Show the current step

    # Base case: factorial of 0 is 1
    if n == 0:
        print("Reached base case: factorial(0) = 1")
        return 1

    # Recursive case: n! = n × (n-1)!
    else:
        result = n * factorial(n - 1)
        print(f"Computed factorial({n}) = {n} × factorial({n-1}) = {result}")
        return result

# Example: Calculate and display the factorial of 5
number = 5
print(f"Factorial of {number}: {factorial(number)}")

Calculating factorial(5)
Calculating factorial(4)
Calculating factorial(3)
Calculating factorial(2)
Calculating factorial(1)
Calculating factorial(0)
Reached base case: factorial(0) = 1
Computed factorial(1) = 1 × factorial(0) = 1
Computed factorial(2) = 2 × factorial(1) = 2
Computed factorial(3) = 3 × factorial(2) = 6
Computed factorial(4) = 4 × factorial(3) = 24
Computed factorial(5) = 5 × factorial(4) = 120
Factorial of 5: 120

In [14]:
#user input
# Function to calculate the factorial of a number
def factorial(n):
    """Calculate the factorial of a given number using recursion."""

    print(f"Calculating factorial({n})")  # Show the current step

    # Base case: factorial of 0 is 1
    if n == 0:
        print("Reached base case: factorial(0) = 1")
        return 1

    # Recursive case: n! = n × (n-1)!
    else:
        result = n * factorial(n - 1)
        print(f"Computed factorial({n}) = {n} × factorial({n-1}) = {result}")
        return result

# Taking input from the user
num = int(input("Enter a non-negative integer: "))

# Ensure the user enters a non-negative integer
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print(f"Factorial of {num}: {factorial(num)}")

Enter a non-negative integer: 6
Calculating factorial(6)
Calculating factorial(5)
Calculating factorial(4)
Calculating factorial(3)
Calculating factorial(2)
Calculating factorial(1)
Calculating factorial(0)
Reached base case: factorial(0) = 1
Computed factorial(1) = 1 × factorial(0) = 1
Computed factorial(2) = 2 × factorial(1) = 2
Computed factorial(3) = 3 × factorial(2) = 6
Computed factorial(4) = 4 × factorial(3) = 24
Computed factorial(5) = 5 × factorial(4) = 120
Computed factorial(6) = 6 × factorial(5) = 720
Factorial of 6: 720

25

In [21]:
# traditional function instead of a lambda function:

# Traditional function to calculate the square of a number
def square(x):
    return x ** 2

# Square a number using the function
result = square(5)
print(result)  # Output: 25

25

In [25]:
#lambda
square = lambda x: x**2

# def square(x):
#     return x ** 2

# Square a number using the lambda function
result = square(5)
print(result)  # Output: 25

25

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [22]:
# Traditional function to calculate the square of a number
def square(x):
    return x ** 2

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Using map with the traditional function
squares = list(map(square, numbers))
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [24]:
#squares = list(map(square, numbers))
# square is the function that calculates the square of a number.
# numbers is the list [1, 2, 3, 4, 5].
# The map() function applies the square function to each element of the numbers list. It processes each element of the list one by one, squares it, and returns the results as an iterator. The list() function then converts the iterator into a list.

# The result is a list of the squares of the numbers: [1, 4, 9, 16, 25].
# #

square is the function that calculates the square of a number.
numbers is the list [1, 2, 3, 4, 5].
The map() function applies the square function to each element of the numbers list. It processes each element of the list one by one, squares it, and returns the results as an iterator. The list() function then converts the iterator into a list.

The result is a list of the squares of the numbers: [1, 4, 9, 16, 25].

In [26]:
# Example of using a lambda function
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, numbers))
print(squares)  # Output: [1, 4, 9, 16, 25]

# Example of using a def function
def square(x):
    return x**2

numbers = [1, 2, 3, 4, 5]
squares = []
for n in numbers:
    square_of_n = square(n)
    squares.append(square_of_n)
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [17]:
#Exception handling
# Function to divide two numbers
def divide_numbers(num1, num2):
    try:
        result = num1 / num2
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing division and displaying the result
result = divide_numbers(num1, num2)
print(f"Result: {result}")

Enter the first number: 1
Enter the second number: 0
Result: Error: Division by zero is not allowed.

In [18]:
#Exception handling
# Function to divide two numbers
def divide_numbers(num1, num2):
    try:
        result = num1 / num2
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing division and displaying the result
result = divide_numbers(num1, num2)
print(f"Result: {result}")

Enter the first number: 3
Enter the second number: 4
Result: 0.75

In [20]:
#do it by else if
# Function to divide two numbers
def divide_numbers(num1, num2):
    if num2 == 0:
        return "Error: Division by zero is not allowed."
    else:
        return num1 / num2

# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing division and displaying the result
result = divide_numbers(num1, num2)
print(f"Result: {result}")

Enter the first number: 1
Enter the second number: 0
Result: Error: Division by zero is not allowed.